<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://javax.ee/xml/ns/javaxee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://javax.ee/xml/ns/javaxee https://javax.ee/xml/ns/javaxee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>Admin1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>Servlets.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Conn</display-name>
    <servlet-name>Conn</servlet-name>
    <servlet-class>Servlets.Conn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Conn</servlet-name>
    <url-pattern>/Conn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajtprf</display-name>
    <servlet-name>Ajtprf</servlet-name>
    <servlet-class>Servlets.Ajtprf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajtprf</servlet-name>
    <url-pattern>/Ajtprf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit</display-name>
    <servlet-name>Edit</servlet-name>
    <servlet-class>Servlets.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Supp</display-name>
    <servlet-name>Supp</servlet-name>
    <servlet-class>Servlets.Supp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Supp</servlet-name>
    <url-pattern>/Supp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>se</display-name>
    <servlet-name>se</servlet-name>
    <servlet-class>Servlets.se</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>se</servlet-name>
    <url-pattern>/se</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajtanc</display-name>
    <servlet-name>Ajtanc</servlet-name>
    <servlet-class>Servlets.Ajtanc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajtanc</servlet-name>
    <url-pattern>/Ajtanc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ko</display-name>
    <servlet-name>ko</servlet-name>
    <servlet-class>Servlets.ko</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ko</servlet-name>
    <url-pattern>/ko</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajtpaim</display-name>
    <servlet-name>Ajtpaim</servlet-name>
    <servlet-class>Servlets.Ajtpaim</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajtpaim</servlet-name>
    <url-pattern>/Ajtpaim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editabs</display-name>
    <servlet-name>Editabs</servlet-name>
    <servlet-class>Servlets.Editabs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editabs</servlet-name>
    <url-pattern>/Editabs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Editetd</display-name>
    <servlet-name>Editetd</servlet-name>
    <servlet-class>Servlets.Editetd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Editetd</servlet-name>
    <url-pattern>/Editetd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Suppet</display-name>
    <servlet-name>Suppet</servlet-name>
    <servlet-class>Servlets.Suppet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Suppet</servlet-name>
    <url-pattern>/Suppet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Disconn</display-name>
    <servlet-name>Disconn</servlet-name>
    <servlet-class>Servlets.Disconn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Disconn</servlet-name>
    <url-pattern>/Disconn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serchprofgets</display-name>
    <servlet-name>Serchprofgets</servlet-name>
    <servlet-class>Servlets.Serchprofgets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serchprofgets</servlet-name>
    <url-pattern>/Serchprofgets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serchprofemplois</display-name>
    <servlet-name>Serchprofemplois</servlet-name>
    <servlet-class>Servlets.Serchprofemplois</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serchprofemplois</servlet-name>
    <url-pattern>/Serchprofemplois</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serchgrpsemplois</display-name>
    <servlet-name>Serchgrpsemplois</servlet-name>
    <servlet-class>Servlets.Serchgrpsemplois</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serchgrpsemplois</servlet-name>
    <url-pattern>/Serchgrpsemplois</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serchetud</display-name>
    <servlet-name>Serchetud</servlet-name>
    <servlet-class>Servlets.Serchetud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serchetud</servlet-name>
    <url-pattern>/Serchetud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Searchetdpaim</display-name>
    <servlet-name>Searchetdpaim</servlet-name>
    <servlet-class>Servlets.Searchetdpaim</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searchetdpaim</servlet-name>
    <url-pattern>/Searchetdpaim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serprfepaim</display-name>
    <servlet-name>Serprfepaim</servlet-name>
    <servlet-class>Servlets.Serprfepaim</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serprfepaim</servlet-name>
    <url-pattern>/Serprfepaim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Serchprofabs</display-name>
    <servlet-name>Serchprofabs</servlet-name>
    <servlet-class>Servlets.Serchprofabs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serchprofabs</servlet-name>
    <url-pattern>/Serchprofabs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchetudsabs</display-name>
    <servlet-name>searchetudsabs</servlet-name>
    <servlet-class>Servlets.searchetudsabs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchetudsabs</servlet-name>
    <url-pattern>/searchetudsabs</url-pattern>
  </servlet-mapping>
</web-app>